// /* Styles pour la galerie d'images */


.gallery {
     display: flex; /* Active le mode Flexbox */
     flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
     justify-content: space-between; /* Espace entre les éléments */
     align-items: center;
     margin: 20px auto;
     width: 1200px; /* Largeur maximale du conteneur */
    border: 3px solid red;
     }
 
 .gallery-item {
     flex: 0 0 calc(50% - 10px);        /* Chaque élément prend 50% de largeur moins l'espacement */
     margin-bottom: 20px;               /* Marge en bas de chaque image */
     position: relative;                /* Nécessaire pour centrer l'image */
     overflow: hidden;                  /* Masquer le débordement */
     border: 3px solid rgb(0, 174, 255);
 }
 
 .gallery img {
     width: 100%;                       /* Remplir le conteneur */
     height: auto;                      /* Garder le ratio d'aspect */
     aspect-ratio: 1;                  /* Assurer que l'image est carrée */
     object-fit: cover;                /* Couvrir le conteneur sans déformer l'image */
     display: block;                    /* Éliminer les espaces indésirables */
 }
 
 
 
 // ***** BOUTON LOAD-MORE ********* // 
 
 /* Centrer le bouton "Load More" */
 .load-more-btn {

display: flex;
justify-content: center;
align-items: center;
margin: 20px auto; /* Centrage du bouton */
border-radius: 2px;
background-color: $color-tertiary-medium;
font-family: $font-primary;
width: 272px;
height: 50px;
text-align: center;
color: $color-black;
cursor: pointer;
transition: background-color 0.3s ease;

 }
 
 /* Hover sur le bouton "Load More" */
 .load-more-btn:hover {
     background-color: #000000;
     color: $color-tertiary-dark;
 }

//  #charger-plus {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 30px auto; /* Centrage du bouton */
//     border-radius: 2px;
//     background-color: $color-tertiary-medium;
//     font-family: $font-primary;
//     width: 280px;
//     height: 50px;
//     text-align: center;
//     color: $color-black;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//   }
  
//   #load-more-btn {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 2px;
//     background-color: $color-tertiary-medium;
//     font-family: $font-primary;
//     width: 280px;
//     height: 50px;
//     text-align: center;
//     color: $color-black;
//   }