.site-footer {
     border: 2px solid rgb(37, 53, 228);
     // display: flex;
     // justify-content: space-between; // Logo à gauche, menu à droite
     // align-items: center;
     // padding: 10px 20px; // Ajuste selon tes besoins
}

.footer-menu {
     border: 2px solid rgb(221, 237, 69);
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     
li {
         margin-left: 20px;
         border: 2px solid rgb(206, 120, 15);
     }
         a {
           text-decoration: none;
           color: #000000;
           text-transform: uppercase; // Pour avoir tout en majuscule
           font-weight: bold;
           &:hover {
             color: #007bff; // Couleur au survol
           }
         }
      
     
   
     // Responsive : Menu mobile (breakpoint pour mobile)
     @media (max-width: 768px) {
       .header-container {
         flex-direction: column; // Affiche le menu en colonne
         align-items: flex-start;
         li {
           margin-bottom: 10px; // Espace entre les items en mobile
         }
       }
     }
   }
   