.contact-modal {
     background-color: rgba(121, 226, 89, 0.5);
 }
 
 .modal__content {
     box-shadow: 0 0 13px rgba(0, 0, 0, 0.3); // Ombre pour le relief
 }
 
 .close-button {
     cursor: pointer; // Changer le curseur sur le bouton de fermeture
 }
 