/* Variables */

    $font-primary: 'SpaceMono', sans-serif; 
    $font-secondary: 'Poppins', sans-serif; 

    $color-main: #E00000; /* Rouge */
    $color-secondary: #FE5858; /* Couleur secondaire */
    $color-tertiary-light: #FFD6D6; /* Couleur tertiaire claire */
    $color-tertiary-medium: #D8D8D8; /* Couleur tertiaire moyenne */
    $color-tertiary-dark: #E5E5E5; /* Couleur tertiaire foncée */
    $color-black: #000000; /* Noir */
    $color-darkgrey: #C4C4C4; /* Gris foncé */
