@charset "UTF-8";
.site-footer {
  border: 2px solid rgb(37, 53, 228);
}

.footer-menu {
  border: 2px solid rgb(221, 237, 69);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-menu li {
  margin-left: 20px;
  border: 2px solid rgb(206, 120, 15);
}
.footer-menu a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-menu a:hover {
  color: #007bff;
}
@media (max-width: 768px) {
  .footer-menu .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-menu .header-container li {
    margin-bottom: 10px;
  }
}

/* Fonts */
@font-face {
  font-family: "SpaceMono";
  src: url("assets/fonts/SpaceMono-Regular.woff2") format("woff2"), url("assets/fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url("assets/fonts/SpaceMono-Bolditalic.woff2") format("woff2"), url("assets/fonts/SpaceMono-Bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins.woff2") format("woff2"), url("assets/fonts/Poppins.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Variables */
:root {
  --font-primary: "SpaceMono", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --color-main: #E00000; /* Rouge */
  --color-secondary: #FE5858; /* Couleur secondaire */
  --color-tertiary-light: #FFD6D6; /* Couleur tertiaire claire */
  --color-tertiary-medium: #D8D8D8; /* Couleur tertiaire moyenne */
  --color-tertiary-dark: #E5E5E5; /* Couleur tertiaire foncée */
  --color-black: #000000; /* Noir */
  --color-darkgrey: #C4C4C4; /* Gris foncé */
}

.site-main {
  background-color: #FE5858;
}

.hero {
  min-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  border: 2px solid rgb(37, 53, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
.header-container .logo {
  border: 2px solid rgb(59, 228, 37);
}
.header-container .logo img {
  max-width: 150px;
}
.header-container .menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}
.header-container .main-navigation .main-menu {
  border: 2px solid rgb(221, 237, 69);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header-container .main-navigation .main-menu li {
  margin-left: 20px;
  border: 2px solid rgb(206, 120, 15);
}
.header-container .main-navigation .main-menu li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
.header-container .main-navigation .main-menu li a:hover {
  color: #007bff;
}
@media (max-width: 768px) {
  .header-container .main-navigation .main-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-container .main-navigation .main-menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .header-container .menu-toggle {
    display: block;
  }
  .header-container .main-menu.active {
    display: flex;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
  display: block;
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
