.site-footer {
  border-top: 1px solid #000; /* Bordure en haut */
  font-family: $font-primary; // Applique la police principale à tout le header
}

.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;

  li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase; // Pour avoir tout en majuscule
    transition: font-weight 0.3s ease;
    
      &:hover {
        font-weight: 700; /* Poids de la police en gras au survol */
    }
  }

  
}

/* Version mobile */
@media (max-width: 768px) {
  .footer-menu {
      flex-direction: column; /* Aligne les liens en colonne */
      gap: 10px;
      justify-content: center;
      align-items: center;
      padding: 0;
  }

  // .footer-menu a,
  // .footer-navigation {
  //     font-size: 14px; /* Réduit la taille de police en version mobile */
  // }
}
