/* *********** HERO ***************** */
.hero {
    overflow: hidden; /* Pour éviter tout débordement */
}

.hero-image {
    width: 100%; /* L'image prend 100% de la largeur du conteneur */
    height: auto; /* Laisse la hauteur s'ajuster proportionnellement */
    display: block; /* Évite les espaces en dessous de l'image */
    margin-bottom: 30px;
}

/* *********** SECTION FILTRE ET GALLERIE ***************** */

.photo-catalogue {
    width: 100%; /* Occupe 80% la largeur disponible */
    padding: 0; /* Pas de padding */
    box-sizing: border-box; /* Empêche les éléments de déborder */
    display: flex;
    flex-direction: column;
}

/* *********** FILTRES ***************** */

.photo-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 1200px; /* Largeur maximale du conteneur */
}

.filters-left {
    display: flex;
    gap: 30px; /* Espace entre les deux filtres */
}

.filters-right {
    text-align: right;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    width: 280px;  /* Largeur fixe */
    height: 42px;  /* Hauteur fixe */
}

/* *********** GALERIE ***************** */

/* Style pour la galerie photo */
.photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

/* Style pour le conteneur des photos */
#photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace entre les colonnes */
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrer le conteneur */
}

/* Style pour chaque élément photo */
.photo-item {
    flex-basis: calc(50% - 10px); /* Deux colonnes */
    height: 495px; /* Hauteur fixe des cubes */
    margin-bottom: 20px; /* Espacement entre les rangées */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Couleur de fond au cas où l'image ne charge pas */
}

/* Style pour les images */
.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image couvre toute la zone du cube tout en conservant les proportions */
}

#charger-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;    
    background-color: $color-tertiary-medium;
    font-family: $font-primary;
    width: 280px;
    height: 50px;
    text-align: center;
    color: $color-black;
    }


/* Ajustement responsive pour les petits écrans */
@media (max-width: 768px) {
    .photo-item {
        flex-basis: 100%; /* Chaque photo prend toute la largeur sur mobile */
    }
}

