/* *********** HERO ***************** */
.hero {
    width: 100vw;       /* Prend toute la largeur de la fenêtre */
    height: 100vh;      /* Prend toute la hauteur de la fenêtre */
    max-width: 100%;    /* Respecte la largeur maximale du body */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 3px solid rgb(98, 0, 255);
}

.hero-background-image {
    width: 100%;         /* Prend toute la largeur du conteneur parent */
    height: 100%;        /* Prend toute la hauteur du conteneur parent */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid rgb(6, 93, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid rgb(6, 93, 38);
}

.hero-background-image img:first-child {
    width: 100vw;          /* Prend toute la largeur de la fenêtre */
    height: 100vh;         /* Prend toute la hauteur de la fenêtre */
    object-fit: cover;     /* Remplit l’espace sans déformation, en recadrant si nécessaire */
    object-position: center;
}

.hero-title {
  position: absolute; /* Position absolue pour la superposition */
  max-width: 80%; 
  height: auto;
  border: 3px solid red;
}



/* *********** SECTION FILTRE ET gallery ***************** */

.catalogue {
  width: 100%; /* Occupe 80% la largeur disponible */
  padding: 0; /* Pas de padding */
  box-sizing: border-box; /* Empêche les éléments de déborder */
  display: flex;
  flex-direction: column;
}

/* *********** FILTRES ***************** */

.catalogue-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 1200px; /* Largeur maximale du conteneur */
}

.filters-left {
  display: flex;
  gap: 30px; /* Espace entre les deux filtres */
}

.filters-right {
  text-align: right;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  width: 280px; /* Largeur fixe */
  height: 42px; /* Hauteur fixe */
}

/* *********** GALERIE ***************** */

/* Style pour la galerie photo */
.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Style pour le conteneur des photos */
#photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espace entre les colonnes */
  max-width: 1200px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrer le conteneur */
}

/* Style pour chaque élément photo */
.photo-item {
  flex-basis: calc(50% - 10px); /* Deux colonnes */
  height: 495px; /* Hauteur fixe des cubes */
  margin-bottom: 20px; /* Espacement entre les rangées */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Couleur de fond au cas où l'image ne charge pas */
}

/* Style pour les images */
.photo-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* L'image couvre toute la zone du cube tout en conservant les proportions */
}

#charger-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: $color-tertiary-medium;
  font-family: $font-primary;
  width: 280px;
  height: 50px;
  text-align: center;
  color: $color-black;
}

#load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: $color-tertiary-medium;
  font-family: $font-primary;
  width: 280px;
  height: 50px;
  text-align: center;
  color: $color-black;
}

/* Ajustement responsive pour les petits écrans */
@media (max-width: 768px) {
  .photo-item {
    flex-basis: 100%; /* Chaque photo prend toute la largeur sur mobile */
  }
}
