/* Styles de base pour la page single photo */
.content-single-photo {
  max-width: 1148px;
  margin: 0 auto;
  padding: 20px;
}

/* Mise en page de l'en-tête */
.photo-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end; /* Aligne les éléments en bas */
  gap: 20px;
//   padding-bottom: 20px;
//   margin-bottom: 20px;
  justify-content: flex-end; /* Place l'enfant en bas */
}

.photo-info {
  flex: 1 1 300px;
  border-bottom: 1px solid black;
}

.photo-title {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.photo-details p {
  margin: 20px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-primary;
  font-weight: normal;
}

.photo-image {
  flex: 1 1 300px;
  margin: 0;
}

.photo-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* Section de contact */

.photo-contact-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.photo-question, .photo-navigation {
    flex: 1; /* Chaque enfant prend 50% de la largeur du conteneur */
    box-sizing: border-box; /* Inclut les marges et les paddings dans la largeur totale */
    align-items: center;
    padding: 25px 0;

     }

.photo-question {
    display: flex;
    font-size: 16px;
    margin: 0;
    justify-content: space-between;
    // border: 2px solid rgb(255, 0, 144);
}

#contact-btn {
  background-color: #ccc;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px 0;
}



/* Navigation Précédente et Suivante */
.photo-navigation {
  display: grid;
  grid-template-rows: 1fr auto; /* Définit deux lignes : une flexible et une automatique */
  border: 2px solid rgb(32, 222, 22);
  padding: 0;
}

.nav-links{
  grid-row: 2; /* Place l'enfant sur la deuxième ligne (en bas) */
  // padding: 10px;
    display: flex;
    justify-content: flex-end; /* Place l'élément enfant à droite */
    // align-items: flex-end; /* Place l'élément enfant en bas */
    border: 2px solid rgb(79, 170, 226);
}

.nav-item {
    margin-right: 35px; /* Sépare les éléments de 20px */
    margin-bottom: 10px;
    border: 2px solid rgb(209, 82, 9);
}

.nav-item:last-child {
    margin-right: 0; /* Supprime la marge de droite sur le dernier élément */
  }

  .thumbnail-preview {
    display: block;
  }

/* Par défaut, masquer les images */
.thumbnail-preview img {
    display: none;
    width: 81px;
    height: 71px;
    object-fit: cover;
  }
  
  /* Afficher l'image au survol du parent */
  .nav-item:hover .thumbnail-preview img {
    display: block;
  }











/* Section "Vous aimerez aussi" */
.related-photos {
  border: 2px solid rgb(209, 82, 9);
  margin-top: 40px;
}

.related-title {
  text-transform: uppercase;
  font-family: $font-primary;
  font-size: 18px;
  margin: 45px 0 20px;
  font-style: normal;
}

.related-photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonnes flexibles */
    gap: 20px; /* Espacement de 20px entre les éléments */
    width: 100%; /* Conteneur occupe toute la largeur */
    border: 2px solid rgb(9, 209, 32);
}

.related-photo-thumbnail {
    width: 100%; /* Largeur de chaque cellule */
    object-fit: cover; /* Ajuste l'image pour couvrir la zone */
    border: 2px solid rgb(56, 9, 209);
}
