.hero {
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;  /* Fixe le hero */
     top: 80px;        /* Ajustez cette valeur à la hauteur de votre header */
     left: 0;
     right: 0;
     height: calc(100vh - 80px);  /* Hauteur totale moins la hauteur du header */
     max-height: 964px;  /* Hauteur maximale spécifiée */
     overflow: hidden;
     z-index: 1;  /* Assurez-vous que c'est au-dessus du contenu principal mais sous le header */
 }
 
 .hero-background-image {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     width: 100%;
     height: 100%;
     object-fit: cover;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 
//  .hero-background-image img:first-child {
//      max-width: 100%;                  /* Taille de l'image de fond */
//      height: auto;
//      object-fit: cover;
//      border: 3px solid rgb(145, 222, 13);
//  }
 
 .hero-title {
     position: absolute;               /* Position absolue pour la superposition */
     max-width: 80%;                   /* Ajustez la taille si nécessaire */
     height: auto;
 }
 
 
  
 .hero-slider {
      position: relative;
      overflow: hidden;
      height: 100vh; /* ou une hauteur souhaitée */
  }
  
  .hero-slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 1s ease-in-out;
  }
  
  .hero-slide.active {
      opacity: 1;
  }